cycler==0.11.0 ; python_version >= "3.7" and python_version < "4.0"
gensim==3.8.0 ; python_version >= "3.7" and python_version < "4.0"
kiwisolver==1.4.5 ; python_version >= "3.7" and python_version < "4.0"
matplotlib==3.1.1 ; python_version >= "3.7" and python_version < "4.0"
numpy==1.18.5 ; python_version >= "3.7" and python_version < "4.0"
pandas==0.25.3 ; python_version >= "3.7" and python_version < "4.0"
pyparsing==3.1.1 ; python_version >= "3.7" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.7" and python_version < "4.0"
pytz==2023.3.post1 ; python_version >= "3.7" and python_version < "4.0"
scipy==1.6.1 ; python_version >= "3.7" and python_version < "4.0"
seaborn==0.9.0 ; python_version >= "3.7" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.7" and python_version < "4.0"
smart-open==6.4.0 ; python_version >= "3.7" and python_version < "4.0"
torch @ https://download.pytorch.org/whl/cpu/torch-1.3.1-cp37-none-macosx_10_7_x86_64.whl#sha256=134e8291a97151b1ffeea09cb9ddde5238beb4e6d9dfb66657143d6990bfb865 ; python_version >= "3.7" and python_version < "4.0" and sys_platform == "darwin"
tqdm==4.40.2 ; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.7" and python_version < "3.8"
